.quick-actions {
    background: #333a2f;
    position: sticky;
    top: 0;
    display: flex;
    gap: 1.5rem;
    padding: 1rem 2rem 0.75rem 0.75rem;
    justify-content: end;
    grid-column: 2;
    grid-row: 1;
    z-index: 2
}

.quick-actions button{
    background: transparent;
    border: none;
    padding:  0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 10px;
    color: antiquewhite;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    max-height: 40px;
}

.quick-actions button img{
    fill: antiquewhite;
    width: 30px;
}

.quick-actions.scrolled{
    background: #272c24;
}