*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background: #ece2db;
}

h2, h3{
    color: #2f332c;
    margin-bottom: 1rem;
}

header{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    transition: all 0.3s ease;
}

button:hover{
    transform: translate(-0.25em) scale(1.05);
    box-shadow: 0 0 1em 0 #130a05;
}

button:active{
    transform: scale(1);
    box-shadow: none;
}

.card-container{
    display: grid;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border: solid 1px darkgray;
    background: whitesmoke;
    border-radius: 5px;
    grid-template-rows: 0.3fr auto 0.3fr;
}

.card-body {
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap : 1rem;
    border: none;
}

.card-body p{
    font-size: 18px;
}

.card-header{
    max-height: 80px;
    margin-bottom: 1.5rem;
    grid-area: 1 / 1 / 2 / 2;
}

.card-container h2{
    margin-bottom: 2rem;
}

.card-footer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
    gap: 1.5rem;
    border: none;
    max-height: 80px;
}

.card-container.center{
    margin: 10vh;
    width: 40%;
    justify-self: center;
}

.card-body.start-aligned{
    align-items: start;
}

.card-body.center-aligned{
    align-items: center;
}

.card-body.horizontal{
    flex-direction: row;
}

.card-header.center-aligned{
    justify-self: center;
}


.secondary-button{
    background: transparent;
    padding:  0.75rem 0.75rem 0.75rem 0.75rem;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #4f574a;
    max-height: 40px;
}

.dialog-container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    background: whitesmoke;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
}

.secondary-button.confirm-button{
    background: #9f2336;
    color: white;
}

.secondary-button.cancel-button{
    color: #9f2336;
}

