.list-container {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.body{
    width: 100%;
    height: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #afafaf;
    cursor: pointer;
}

.list-item-element{
    display: flex;
    justify-content: center;
}

.list-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
